body {
    background-image: url();
    background-repeat: no-repeat, repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

img {
    transform: translate(-2.5px, -100px);
}

.container {
    border-style: groove;
    border-color: rgb(223, 209, 209);
    background-image: url(https://img.freepik.com/vetores-gratis/vetor-de-modelo-de-quadro-de-curva-verde_53876-162367.jpg?ga=GA1.1.672297834.1719948149&semt=ais_hybrid);
    text-align: center;
    padding: 40px 10px;
    width: 90%;
    max-width: 400px;
    border-radius: 10%;
    margin: 15% auto;
    border-radius: 40px;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    white-space: nowrap;
    transform: translate(-10px, -30px);
}

.input-codigo,
.input-senha {
    border-style: groove;
    border-color: rgb(241, 241, 241);
    padding: 5px;
    transform: translate(0px, -80px);
}

.textUsuario,
.textSenha {
    display: flex;
    transform: translate(10px, -80px);
}

.entrar {
    transform: translate(0px, -50px);
    background-color: rgb(163, 255, 127);
    padding: 8px 50px;
    border-radius: 10px;
    font-weight: bold;
}

button:hover {
    background-color: rgb(2, 252, 106);
}

/* Media Query para telas menores */
@media (max-width: 800px) {
    .container {
        padding: 0px;
        margin: 10% auto;
        width: 80%;
        
    
    }

    h1 {
        font-size: 1.5em;
        transform: translate(-5px, 10px);
    }

    .input-codigo,
    .input-senha {
        transform: translate(0px, -40px);
        width: 40%;
        margin-left: 20px;
    }

    .textUsuario,
    .textSenha {
        transform: translate(5px, -20px);
    }

    .entrar {
        transform: translate(0px, -25px);
        padding: 8px 20px;
    }}

    img {
        transform: translate(-2.5px, -90px);
    }

    /* Media Query para ajustes específicos na versão de desktop (telas maiores) */
@media (min-width: 801px) {
    
    img {
        transform: translate(-2.5px, -150px); /* Ajuste para a versão de desktop */
        
    }

    .input-codigo,
    .input-senha {
        transform: translate(0px, -40px);
        width: 40%;
        margin-left: 20px;
    }

    .textUsuario,
    .textSenha {
        transform: translate(5px, -20px);
    }

    .entrar {
        transform: translate(0px, -25px);
        padding: 8px 20px;
    }


}

